<div class="item item-divider bpm-userselectitems f16" ng-show="selectUsers.length!=0">
 
        <!--<ul class="breadcrumb-wrapper">
            <li class="bpm-breadcrumb bpm-orgitem"
                ng-repeat="user in selectUsers track by user.id"
                ng-if="user.type=='O'">
                <span class="depSelected">{{user.name}}</span>
                <span class="del-list" ng-click="cancelSelected($index)"><i class="icon ion-android-close"></i></span>
            </li>
            <li class="bpm-breadcrumb bpm-orgitem"
                ng-repeat="user in selectUsers track by user.id"
                ng-if="user.type=='G'">
                <span class="depSelected">{{user.name}}</span>
                <span class="del-list" ng-click="cancelSelected($index)"><i class="icon ion-android-close"></i></span>
            </li>
        </ul>-->
        <ul class="breadcrumb-wrapper">
            <li class="bpm-breadcrumb bpm-useritem"
                ng-repeat="user in selectUsers"
                ng-if="user.type=='U'">
                <i class="user-name userSelected">
                    <span class="f12">{{user.name|limitTo :-2}}</span>
                    <span class="del-list" ng-click="cancelSelected($index)"><i class="icon ion-android-close"></i></span>
                </i>

            </li>
        </ul>
</div>
