<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Attachment_Aarchive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--H3附件保存的文件路径:绝对路径-->
    <add key="H3AttachmentFilePath" value="\\172.16.0.3\文件\IT专用\NETSOL文件备份\file-backup-52\h3\H3"/>
    <!--Excel模板:根据此模板中的单据号进行归档-->
    <add key="ExcelTemplatePath" value="Template.xlsx"/>
    <!--Excel模板的Sheet名称-->
    <add key="ExcelTemplateSheetName" value="sheet1"/>
    <!--归档文档生成的目录地址:绝对路径-->
    <add key="GenerateFilePath" value="\\172.16.0.3\文件\IT部\市场部资料\H3"/>
    <!--重新执行是否覆盖原文件:true/false-->
    <add key="OverWrite" value="false"/>
    <add key="role" value="贷后资料查询"/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <Attachment_Aarchive.Properties.Settings>
            <setting name="Attachment_Aarchive_AttachmentService_AttachmentService"
                serializeAs="String">
                <value>https://bpm.dongzhengafc.com:8010/Portal/webservices/AttachmentService.asmx</value>
            </setting>
        </Attachment_Aarchive.Properties.Settings>
    </applicationSettings>
</configuration>
