<!--权限校验-->
<script>
    $.post('/Portal/Ajax/CheckFunction.ashx?Code=Workspace_MyUnfinishedWorkItem', {}, function (ret) { console.log(ret); eval(ret) })
</script>
<!--
    待办任务
     -->
<!-- ng-init="
     app.settings.asideFolded=false;
     app.settings.asideDock=false;" -->
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <!--<form>-->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row" style=" padding-right: 15px; ">
                <div class="col-sm-6 col-xs-12">
                    <span class="h3" ng-bind="menuData.DisplayName"></span>
                    <!--<span translate="WorkItemController.UnFinishedWorkitem"></span><br />
                    {{'WorkItemController.UnFinishedWorkitem'|translate}}<br />-->
                    <!--<h1 class="m-n font-thin h3 text-black">{{name}}</h1>-->
                </div>

                <div class="btn-group  pull-right">
                    <button type="button" class="btn btn-default m-t-n-xs" title="批量审批"
                            ui-sref="app.MyUnfinishedWorkItemByBatch">
                        <i class="fa fa-bars"></i>
                        <span style=" margin-left:5px;" translate="QueryTableColumn.BatchProcess"></span>
                    </button>
                    <button type="button" class="btn btn-default m-t-n-xs" title="分组模式"
                            ui-sref="app.MyUnfinishedWorkItemByGroup">
                        <i class="fa fa-bars"></i>
                        <span style=" margin-left:5px;" translate="QueryTableColumn.GroupMode"></span>
                    </button>
                </div>
            </div>
        </div>

        <!--表格部分Start-->
        <div class="wrapper-md paddingbottomNone">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <div class="form-inline" style="float:left;">
                        <div class="input-group searchContainer">

                            <div class="form-group">
                                <input type="text" class="input-sm form-control" style="width:200px"
                                       ng-model="searchKey" ng-change="searchKeyChange()"
                                       autocomplete="off"
                                       placeholder="流程名称或任务名称">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" style="border-left:0px;border-right:0px;">内外网</span>
                                    <select class="select form-control" id="usertype" style="width:100px" ng-model="UserType">
                                        <option value=""></option>
                                        <option value="0">内网</option>
                                        <option value="1">外网</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" style="border-left:0px;border-right:0px;">优先级</span>
                                    <select class="select form-control" id="ItemPriority" style="width:100px" ng-model="ItemPriority">
                                        <option value=""></option>
                                        <option value="2">高</option>
                                        <option value="1">中</option>
                                        <option value="0">低</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input ng-model="StartTime" id="StartTime"
                                           ui-jq="wdatePicker" style="width:100px;"
                                           class="input-sm form-control"
                                           placeholder="开始时间" />
                                    <span class="input-group-addon" style="border-left:0px;border-right:0px;" translate="QueryTableColumn.To"></span>
                                    <input ng-model="EndTime" id="EndTime"
                                           class="input-sm form-control" style="width:100px;"
                                           ui-jq="wdatePicker"
                                           placeholder="结束时间" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default search" type="button" style="height:30px;"><i class="fa fa-search"></i></button>
                                </span>
                            </div>

                            <div class="form-group" ng-show="ShowAllocationButton">
                                <span class="input-group">
                                    <a class="btn btn-sm btn-default" style="height:30px;" ng-click="allocationOrder()" ng-disabled="!clickEnabled"><i class="glyphicon glyphicon-hand-up"></i>&nbsp;主动获单</a>
                                    <span class="input-group-addon" style="border-left:0px;border-right:0px;">{{TaskPoolInfo}}</span>
                                </span>
                            </div>
                        </div>

                    <table ui-jq="dataTable" id="tabUnfinishWorkitem"
                           ui-options="options()"
                           class="table table-striped m-b-none" style="width:99.5%;">
                        <thead>
                            <tr>
                                <th style="width:8%;" class="hide1024"><span translate="QueryTableColumn.Flag"></span></th>
                                <th style="width:30%;"><span translate="QueryTableColumn.ProcessName"></span></th>
                                <th style="width: 15%;"><span translate="QueryTableColumn.Title" class="sort-down"></span></th>
                                <th style="width: 15%;" class="hide414"><span translate="QueryTableColumn.ReceiveTime"></span></th>
                                <th style="width: 15%;" class="hide414"><span translate="QueryTableColumn.Originator"></span></th>
                                <th style="width: 15%;" class="hide1024"><span translate="QueryTableColumn.DeptOfOriginator"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--表格部分End-->
    </div>
    <!--</form>-->
    <!-- / main -->
</div>