<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="postJXSFKBL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <!--推送集团经销商放款比例-->
    <!--正式环境-->
    <add key="INKPIDATA" value="http://oms2.zhengtongauto.net/ZTOMS/api/OMSService/DZJR_INKPIDATA"/>
    <add key="REFUSEDATA" value="http://oms2.zhengtongauto.net/ZTOMS/api/OMSService/DZJR_REFUSEDATA"/>
    <add key="INSUBDATA" value="http://oms2.zhengtongauto.net/ZTOMS/api/OMSService/DZJR_INSUBDATA"/>
    <!--测试环境-->
    <!--汇总数据写入-->
    <!--<add key="INKPIDATA" value="http://106.39.92.35/ZTOMS/api/OMSService/DZJR_INKPIDATA"/> -->
    <!--拒收数据写入-->
    <!--<add key="REFUSEDATA" value="http://106.39.92.35/ZTOMS/api/OMSService/DZJR_REFUSEDATA"/>-->
    <!--明细数据写入-->
    <!--<add key="INSUBDATA" value="http://106.39.92.35/ZTOMS/api/OMSService/DZJR_INSUBDATA"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <postJXSFKBL.Properties.Settings>
            <setting name="postJXSFKBL_DzService_DZBIZService" serializeAs="String">
                <value>http://localhost:8010/Portal/webservices/dzbizservice.asmx</value>
            </setting>
        </postJXSFKBL.Properties.Settings>
    </applicationSettings>
</configuration>

