
<style>
    label {
        margin-bottom: 0;
    }

    th {
        text-align: center;
    }

    .topButton {
        border-radius: 5px;
        background-color: #FFF;
        border: 1px solid #AAA;
        cursor: pointer;
    }

        .topButton[disabled="disabled"] {
            cursor: not-allowed;
        }

        .topButton:not([disabled="disabled"]):hover {
            background-color: #DDD;
        }

        .topButton:not([disabled="disabled"]):active {
            background-color: #AAA;
        }
</style>

<div style=" width: 100%; max-width: 100%;">
    <div style="padding: 10px; font-size: 28px; font-weight: 700; border-bottom: 1px solid #AAA;">
        抵押规则管理
    </div>

    <div style="padding: 10px; display: flex; align-items: center; justify-content: flex-start; width: 100%; max-width: 100%;">
        <table style="width: 100%;">
            <colgroup>
                <col style="width: 25%;" />
                <col style="width: 25%;" />
                <col style="width: 25%;" />
                <col style="width: 25%;" />
            </colgroup>
            <tr>
                <td style="padding: 3px 8px;">
                    <select name="Shop" style="width: 100%; padding: 6px 6px;" ng-model="SearchKey.Shop" ng-change="clickSearch()">
                        <option value="">请选择</option>
                        <option value="东正办理">东正办理</option>
                        <option value="东正外包">东正外包</option>
                        <!--<option value="主办店办理">主办店办理</option>-->
                    </select>
                </td>
                <td style="padding: 3px 8px;">
                    <select name="Province" style="width: 100%; padding: 6px 6px;" ng-model="SearchKey.Province" ng-change="getCity(SearchKey.Province)">
                        <option value="" selected="selected">请选择</option>
                        <option ng-repeat="province in Province" value="{{province.code}}">{{province.codeName}}</option>

                    </select>
                </td>
                <td style="padding: 3px 8px;">
                    <select name="City" style="width: 100%; padding: 6px 6px;" ng-model="SearchKey.City" >
                        <option value="" selected="selected">请选择</option>
                        <option ng-repeat="province in City" value="{{province.code}}">{{province.codeName}}</option>
                    </select>
                </td>
                <td>
                    <input name="SpName" style="width: 100%; padding: 3px 6px;" ng-model="SearchKey.SpName" placeholder="请输入上牌员姓名"  />
                </td>
            </tr>
            <tr>
                <td style="padding: 3px 8px;">
                    <input name="DyName" style="width: 100%; padding: 3px 6px;" ng-model="SearchKey.DyName" placeholder="请输入抵押员姓名"  />
                </td>
                <td colspan="3" style="padding: 10px 0 0 8px; ">
                    <div style="width: 100%; display: flex; justify-content: flex-end; align-items: center;">
                        <button class="topButton" style="width: 100px;" ng-click="clickSearch();">
                            搜索
                        </button>
                        <div style="height: 1px; width: 20px;"></div>
                        <button class="topButton" style="width: 100px;" ng-click="New();">
                            新增
                        </button>
                        <div style="height: 1px; width: 20px;"></div>
                        <button class="topButton" style="width: 100px;" ng-click="Delete();">
                            批量删除
                        </button>
                        <div style="height: 1px; width: 20px;"></div>
                        <button class="topButton" style="width: 100px;" ng-click="DownloadTemp();">
                            下载模板
                        </button>
                        <div style="height: 1px; width: 20px;"></div>
                        <button class="topButton" style="width: 100px;" id="uploadfile" data-toggle="modal" data-target="#myModal">
                            <!--ng-click="UploadFile(this);"-->
                            上传
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding: 10px 10px; width: 100%; max-width: 100%; overflow-y: auto; overflow-x: hidden; ">
        <table style="border-top: 1px solid #AAA; border-left: 1px solid #AAA; width: 100%; max-width: 100%;">
            <tr>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    <input type="checkbox" ng-change="selectAll();" ng-model="checkAll" />
                    序号
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    办理店
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis; display:none">
                    省份
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    省份
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;display:none">
                    城市
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    城市
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;display:none">
                    上牌员
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    上牌员
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;display:none">
                    抵押员
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    抵押员
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis; display:none">
                    GUID
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    操作
                </th>
            </tr>
            <tr ng-repeat="row in Datas" style="{{($index % 2 == 0 ? 'background-color: #EEE;' : 'background-color: #FFF;') + (row.State==1?'color: #929':'')}}">
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="width: 100%; white-space: nowrap; text-overflow: ellipsis;">
                        <input type="checkbox" ng-change="select($index);" ng-model="row.checked" />
                        {{row.No}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.Shop}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;display:none">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.Province}}<label ng-show="row.State==1">(已下架)</label>
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.Sheng}}<label ng-show="row.State==1">(已下架)</label>
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;display:none">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.City}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.Shi}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;display:none">
                    <div title="{{row.SpName}}" style="padding: 5px 8px; max-width: 400px; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;">
                        {{row.SpName}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div title="{{row.SpRealName}}" style="padding: 5px 8px; max-width: 400px; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;">
                        {{row.SpRealName}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;display:none">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.DyName}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div title="{{row.SpRealName}}" style="padding: 5px 8px; max-width: 400px; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;">
                        {{row.DyRealName}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;display:none">
                    <div style="padding: 5px 8px; white-space: nowrap; ">
                        {{row.ObjectID}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <a style="color: #158df0;" ng-click="New($index);">修改</a>
                        <div style="height: 1px; width: 20px;"></div>
                        <a style="color: #158df0;" ng-click="Delete($index);">删除</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <form id="form1" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" style="width: 600px;">
                <div class="modal-content" style="height:300px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body" id="modal">
                        <div id="H3Panel">
                            <span data-lang="msgGlobalString.SelectImportFile">选择文件</span>
                            <table>
                                <tr>
                                    <td>
                                        <input type="file" name="uploadfile" id="uploadrulefile" class="uploadfile" />
                                    </td>
                                    <td>
                                        <input type="button" value="确定" style="width:50px;" ng-click="uploadMortfile()" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div style="padding: 10px; width: 100%; display: flex; justify-content: flex-end; align-items: center;">
        <input style="border-radius: 5px; border: 1px solid #CCC; background-color: #FFF; text-align: center; width: 50px; padding: 5px 8px;" ng-model="Page" ng-change="CheckMax()" />
        <label>　/　{{TotalPage}}　</label>
        <button style="padding: 4px 10px;" class="topButton" ng-click="ModPage(-1)" ng-disabled="Min">
            <span class="fa fa-chevron-left"></span>
        </button>
        <button style="padding: 4px 10px;" class="topButton" ng-click="ModPage(1)" ng-disabled="Max">
            <span class="fa fa-chevron-right">
            </span>
        </button>
        <label>　共{{Total}}条数据　</label>
        <label>每页</label>
        <select ng-model="Size" style="border-radius: 5px; border: 1px solid #CCC; background-color: #FFF; text-align: center; width: 60px; padding: 6px 8px;" ng-change="clickSearch()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <label>条数据　</label>
    </div>
</div>