
<style>
    label {
        margin-bottom: 0;
    }

    th {
        text-align: center;
    }

    .topButton {
        border-radius: 5px;
        background-color: #FFF;
        border: 1px solid #AAA;
        cursor: pointer;
    }

        .topButton[disabled="disabled"] {
            cursor: not-allowed;
        }

        .topButton:not([disabled="disabled"]):hover {
            background-color: #DDD;
        }

        .topButton:not([disabled="disabled"]):active {
            background-color: #AAA;
        }
</style>

<div style=" width: 100%; max-width: 100%;">
    <div style="padding: 10px; font-size: 28px; font-weight: 700; border-bottom: 1px solid #AAA;">
        抵押规则测试
    </div>

  
</div>