
<style>
    label{
        margin-bottom: 0;
    }
    th{
        text-align: center;
    }

    .topButton{
        border-radius: 5px;
        background-color: #FFF;
        border: 1px solid #AAA;
        cursor: pointer;
    }
    
    .topButton[disabled="disabled"]{
        cursor: not-allowed;
    }
    .topButton:not([disabled="disabled"]):hover{
        background-color: #DDD;
    }
    .topButton:not([disabled="disabled"]):active{
        background-color: #AAA;
    }
</style>

<div style=" width: 100%; max-width: 100%;">
    <div style="padding: 10px; font-size: 28px; font-weight: 700; border-bottom: 1px solid #AAA;">
        产品管理
    </div>

    <div style="padding: 10px; display: flex; align-items: center; justify-content: flex-start; width: 100%; max-width: 100%;">
        <table style="width: 100%;">
            <colgroup>
                <col style="width: 25%;" />
                <col style="width: 25%;" />
                <col style="width: 25%;" />
                <col style="width: 25%;" />
            </colgroup>
            <tr>
                <td style="padding: 3px 8px;">
                    <input name="ProductName" style="width: 100%; padding: 3px 6px;" ng-model="SearchKey.ProductName" placeholder="请输入产品名称" ng-change="clickSearch()"/>
                </td>
                <td style="padding: 3px 8px;">
                    <input name="ProductAlias" style="width: 100%; padding: 3px 6px;" ng-model="SearchKey.ProductAlias" placeholder="请输入产品别名" ng-change="clickSearch()" />
                </td>
                <td style="padding: 3px 8px;">
                    <input name="Description" style="width: 100%; padding: 3px 6px;" ng-model="SearchKey.Description" placeholder="请输入描述"  ng-change="clickSearch()"/>
                </td>
                <td>
                    <select name="State" style="width: 100%; padding: 6px 6px;" ng-model="SearchKey.State" ng-change="clickSearch()">
                        <option value="">产品状态</option>
                        <option value="1">已下架</option>
                        <option value="0">未下架</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding: 3px 8px;">
                    <input name="Dealer" style="width: 100%; padding: 3px 6px;" ng-model="SearchKey.Dealer" placeholder="请输入经销商名称" ng-show="IsBase" ng-change="clickSearch()"/>
                </td>
                <td colspan="3" style="padding: 10px 0 0 8px; " >
                    <div style="width: 100%; display: flex; justify-content: flex-end; align-items: center;">
                        <button class="topButton" style="width: 100px;" ng-click="clear();">
                            清空
                        </button>
                        <div style="height: 1px; width: 20px;"></div>
                        <button class="topButton" style="width: 100px;" ng-click="clickSearch();">
                            搜索
                        </button>
                        <div style="height: 1px; width: 20px;" ng-hide="IsBase"></div>
                        <button class="topButton" style="width: 100px;" ng-hide="IsBase" ng-click="Delete();">
                            批量删除
                        </button>
                        <div style="height: 1px; width: 20px;" ng-hide="IsBase"></div>
                        <button class="topButton" style="width: 100px;" ng-hide="IsBase" ng-click="New();">
                            新增
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding: 10px 10px; width: 100%; max-width: 100%; overflow-y: auto; overflow-x: hidden; ">
        <table style="border-top: 1px solid #AAA; border-left: 1px solid #AAA; width: 100%; max-width: 100%;">
            <tr>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    <input type="checkbox" ng-change="selectAll();" ng-model="checkAll" />
                    序号
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    经销商名称
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    产品名称
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    产品别名
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    描述
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;" ng-hide="IsBase">
                    操作
                </th>
            </tr>
            <tr ng-repeat="row in Datas" style="{{($index % 2 == 0 ? 'background-color: #EEE;' : 'background-color: #FFF;') + (row.State==1?'color: #929':'')}}">
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="width: 100%; white-space: nowrap; text-overflow: ellipsis;">
                        <input type="checkbox" ng-change="select($index);" ng-model="row.checked" />
                        {{row.No}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.Dealer}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.ProductName}}<label ng-show="row.State==1">(已下架)</label>
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.ProductAlias}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div title="{{row.Description}}" style="padding: 5px 8px; max-width: 300px; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;">
                        {{row.Description}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;" ng-hide="IsBase">
                    <div style="display: flex; justify-content: center; align-items: center; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis; min-width: 100px;">
                        <a style="color: #158df0;" ng-click="New($index);">修改</a>
                        <div style="height: 1px; width: 20px;"></div>
                        <a style="color: #158df0;" ng-click="Delete($index);">删除</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding: 10px; width: 100%; display: flex; justify-content: flex-end; align-items: center;">
        <input style="border-radius: 5px; border: 1px solid #CCC; background-color: #FFF; text-align: center; width: 50px; padding: 5px 8px;" ng-model="Page" ng-change="CheckMax()" />
        <label>　/　{{TotalPage}}　</label>
        <button style="padding: 4px 10px;" class="topButton" ng-click="ModPage(-1)" ng-disabled="Min">
            <span class="fa fa-chevron-left"></span>
        </button>
        <button style="padding: 4px 10px;" class="topButton" ng-click="ModPage(1)" ng-disabled="Max">
            <span class="fa fa-chevron-right">
            </span>
        </button>
        <label>　共{{Total}}条数据　</label>
        <label>每页</label>
        <select ng-model="Size" style="border-radius: 5px; border: 1px solid #CCC; background-color: #FFF; text-align: center; width: 60px; padding: 6px 8px;" ng-change="clickSearch()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <label>条数据　</label>
    </div>
</div>