
<style>
    label {
        margin-bottom: 0;
    }

    th {
        text-align: center;
    }

    .topButton {
        border-radius: 5px;
        background-color: #FFF;
        border: 1px solid #AAA;
        cursor: pointer;
    }

        .topButton[disabled="disabled"] {
            cursor: not-allowed;
        }

        .topButton:not([disabled="disabled"]):hover {
            background-color: #DDD;
        }

        .topButton:not([disabled="disabled"]):active {
            background-color: #AAA;
        }
</style>

<div style=" width: 100%; max-width: 100%;">
    <div style="padding: 10px; font-size: 28px; font-weight: 700; border-bottom: 1px solid #AAA;">
        规则性质列表
    </div>

    <div style="padding: 10px; display: flex; align-items: center; justify-content: flex-start; width: 100%; max-width: 100%;">
        <table style="width: 100%;">
            <colgroup>
                <col style="width: 25%;" />
                <col style="width: 25%;" />
                <col style="width: 25%;" />
                <col style="width: 25%;" />
            </colgroup>
            <tr>
                <td style="padding: 3px 8px;">
                    <select name="InternetType" style="width: 100%; padding: 6px 6px;" ng-model="SearchKey.InternetType" ng-change="clickSearch()">
                        <option value="">内网/外网</option>
                        <option value="内网">内网</option>
                        <option value="外网">外网</option>
                    </select>
                </td>
                <td style="padding: 3px 8px;">
                    <select name="ClassName" style="width: 100%; padding: 6px 6px;" ng-model="SearchKey.ClassName" ng-change="clickSearch()">
                        <option value="">规则分类</option>
                        <option value="4S">4S</option>
                        <option value="二手车">二手车</option>
                        <option value="二级经销商">二级经销商</option>
                    </select>
                </td>
                <td colspan="3" style="padding: 10px 0 0 8px; ">
                    <div style="width: 100%; display: flex; justify-content: flex-end; align-items: center;">

                        <button class="topButton" style="width: 100px;" ng-click="clickSearch();">
                            搜索
                        </button>
                        <div style="height: 1px; width: 20px;"></div>
                        <button class="topButton" style="width: 100px;" ng-click="btn_addAgents();">
                            新增
                        </button>
                        <div style="height: 1px; width: 20px;"></div>
                        <button class="topButton" style="width: 100px;" ng-click="Delete();">
                            批量删除
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding: 10px 10px; width: 100%; max-width: 100%; overflow-y: auto; overflow-x: hidden; ">
        <table style="border-top: 1px solid #AAA; border-left: 1px solid #AAA; width: 100%; max-width: 100%;">
            <tr>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    <input type="checkbox" ng-change="selectAll();" ng-model="checkAll" />
                    序号
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    内网/外网       
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis; ">
                    性质
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis; display:none">
                    GUID
                </th>
                <th style="padding: 5px 8px; border-right: 1px solid #FFF; border-bottom: 1px solid #AAA; background-color: #AAA; color: #FFF; white-space: nowrap; text-overflow: ellipsis;">
                    操作
                </th>
            </tr>
            <tr ng-repeat="row in Datas" style="{{($index % 2 == 0 ? 'background-color: #EEE;' : 'background-color: #FFF;') + (row.State==1?'color: #929':'')}}">
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="width: 100%; white-space: nowrap; text-overflow: ellipsis;">
                        <input type="checkbox" ng-change="select($index);" ng-model="row.checked" />
                        {{row.No}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.InternetType}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="padding: 5px 8px; white-space: nowrap;">
                        {{row.ClassName}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;display:none">
                    <div style="padding: 5px 8px; white-space: nowrap; ">
                        {{row.ObjectID}}
                    </div>
                </td>
                <td style="padding: 5px 8px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA;">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <a style="color: #158df0;" ng-click="Rank($index);">评分等级</a>
                        <div style="height: 1px; width: 20px;"></div>
                        <a style="color: #158df0;" ng-click="New($index);">查看下级</a>
                        <div style="height: 1px; width: 20px;"></div>
                        <a style="color: #158df0;" ng-click="btn_updateAgents($index);">修改</a>
                        <div style="height: 1px; width: 20px;"></div>
                        <a style="color: #158df0;" ng-click="Delete($index);">删除</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding: 10px; width: 100%; display: flex; justify-content: flex-end; align-items: center;">
        <input style="border-radius: 5px; border: 1px solid #CCC; background-color: #FFF; text-align: center; width: 50px; padding: 5px 8px;" ng-model="Page" ng-change="CheckMax()" />
        <label>　/　{{TotalPage}}　</label>
        <button style="padding: 4px 10px;" class="topButton" ng-click="ModPage(-1)" ng-disabled="Min">
            <span class="fa fa-chevron-left"></span>
        </button>
        <button style="padding: 4px 10px;" class="topButton" ng-click="ModPage(1)" ng-disabled="Max">
            <span class="fa fa-chevron-right">
            </span>
        </button>
        <label>　共{{Total}}条数据　</label>
        <label>每页</label>
        <select ng-model="Size" style="border-radius: 5px; border: 1px solid #CCC; background-color: #FFF; text-align: center; width: 60px; padding: 6px 8px;" ng-change="clickSearch()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <label>条数据　</label>
    </div>
</div>

<script type="text/ng-template" id="EditAgency.html">
    <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
            ×
        </button>
        <h4 class="modal-title" id="myModalLabel">
            <span>规则性质</span>
        </h4>
    </div>
    <alert class="animated fadeInDown hide fadeOut" id="EditError"
           type="danger" close=""
           style="width: 300px;font-size:15px;">
        <span ng-bind="FailMessage"></span>
    </alert>
    <div class="modal-body" style="padding-left:50px;padding-right:50px;">
        <form class="bs-example form-horizontal">

            <!--<div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-4 control-label">班主任</label>
                        <div class="col-md-8 input-group">
                            <div ui-jq="SheetUser" ui-options="WasAgentOptions"
                                 id="WasAgent" class="form-control" style="height:32px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-4 control-label">内网/外网</label>
                        <div class="col-md-8 input-group">
                           
                            <select name="InternetType" style="width:99%;" class="form-control" ng-model="InternetType">
                                <option value="内网">内网</option>
                                <option value="外网">外网</option>

                                <!--<option ng-repeat="province in Datas0" value="{{province.ENUMVALUE}}">{{province.ENUMVALUE}}</option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-4 control-label">性质</label>
                        <div class="col-md-8 input-group">
                            <select style="width:99%;" class="form-control" ng-model="ClassName">
                                <option value="4S">4S</option>
                                <option value="二手车">二手车</option>
                                <option value="二级经销商">二级经销商</option>
                                <!--<option ng-repeat="province in Datas" value="{{province.ENUMVALUE}}">{{province.ENUMVALUE}}</option>-->
                            </select>
                            </div>
                        </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>

            <input ng-model="ObjectID" type="hidden" />
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info"
                ng-click="ok()">
            <span translate="QueryTableColumn.Button_Save"></span>
        </button>
    </div>
</script>