<?xml version="1.0" standalone="yes"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!--  For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468  -->
    <!-- <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" /> -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=H3;Password=sys123QWE;Data Source=172.16.10.117:1521/AMYMA" />  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="secret" value="h3bpm"/>
    <add key="BPMEngine" value="Servers=172.16.7.56:8611;User=administrator;Password=123qwe;Engine=DefaultEngine;" />
    <add key="PortalRoot" value="/Portal"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="H3_To_CRM_URL" value="http://172.16.10.80/"/>
    <!--<add key="rsurlRenGong" value=""/>
    <add key="cbURL" value=""/>
    <add key="cbURLNew" value=""/>
    <add key="rsurl" value=""/>
    <add key="pbocurl" value=""/>
    <add key="nciicurl" value=""/>
    <add key="rsfkurl" value=""/>-->
    <add key="expires_time" value="7200"/>
    <add key="CAP_Retail" value="CAPDB"/>
    <add key="ReturnToCAP.WFServiceImpl" value="http://192.168.16.76:82/DZAFC_Service/WFS.Services.ServicesImpl.WFServiceImpl.svc"/>
    <add key="PBOCService.pboc" value="http://172.16.10.71:8080/pcmuat/services/pboc"/>
    <add key="PrintPath" value="D://Contract Files 01//"/>

    <!--OCR识别相关参数-->
    <add key="OCR_LOGIN_URL" value="http://trddev.jingruiauto.com/v1/sys/security/trdsys/login"/>
    <add key="OCR_LOGIN_NAME" value="dzfinial"/>
    <add key="OCR_LOGIN_PASSWORD" value="dzf888"/>
    <add key="OCR_DISCERN_URL" value="http://trddev.jingruiauto.com/zuul/v1/equ/discern/discernImageInfoHasCutImage"/>
    <add key="OCR_TOKEN_EXPIRE_TIME" value="1440"/>
    <add key="OCR_SERVER" value="dongzheng"/>
    <add key="OCR_DONGZHENG_IDCARD" value="http://172.18.2.103:21001/icr/recognize_id_card"/>
    <add key="OCR_DONGZHENG_BANKCARD" value="http://http://172.18.2.104:21001/icr/recognize_bank_card"/>
    <add key="OCR_DONGZHENG_VEHICLEINVOICE" value="http://172.18.2.105:21001/icr/recognize_vehicle_invoice"/>
    <add key="OCR_DONGZHENG_CARIDCARD" value="http://172.18.2.105:21002/icr/recognize_vehicle_license"/>
    <add key="OCR_DONGZHENG_DRIVERLICENSE" value="http://172.18.2.106:21001/icr/recognize_driving_license"/>
    <add key="OCR_DONGZHENG_VIN" value="http://172.18.2.106:21002/icr/recognize_vehicle_vin"/>
    <!--图片压缩相关参数，不同参数的接口-->
    <add key="PIC_COMPRESS_ENABLE" value="true"/>
    <add key="PIC_COMPRESS_MINSIZE_KB" value="1024"/>
    <add key="PIC_COMPRESS_XY_URL" value="http://trddev.jingruiauto.com/zuul/v1/equ/image/imageCompressByxy"/>
    <add key="PIC_COMPRESS_FACTOR_URL" value="http://trddev.jingruiauto.com/zuul/v1/equ/image/imageCompressByFactor"/>
    <add key="PIC_COMPRESS_QUALITY_URL" value="http://trddev.jingruiauto.com/zuul/v1/equ/image/imageCompressByQuality"/>
    <add key="PIC_COMPRESS_ROTATE_URL" value="http://trddev.jingruiauto.com/zuul/v1/equ/image/imageCompressByRotate"/>
    <add key="PIC_CROP_URL" value="https://trd.jingruiauto.com/zuul/v1/equ/discern/cropEnhanceImage"/>
    <add key="PictureProcessingSwitch" value="0"/>
    <add key="AuthorizationRecognizeUrl" value="http://172.18.2.101:21001/icr/recognize_letter_authorization"/>
    <add key="ContractRecognizeUrl" value="http://172.18.2.101:21001/icr/recognize_dongzhenghetong"/>
    <add key="WarrantyRecognizeUrl" value="http://172.18.2.101:21001/icr/recognize_dongzhengbaodan"/>

    <!--<add key="OCR_LOGIN_URL" value="https://trd.jingruiauto.com/v1/sys/security/trdsys/login"/>
    <add key="OCR_LOGIN_NAME" value="dzfinial"/>
    <add key="OCR_LOGIN_PASSWORD" value="dzf888"/>
    <add key="OCR_DISCERN_URL" value="https://trd.jingruiauto.com/zuul/v1/equ/discern/discernImageInfoHasCutImage"/>
    <add key="OCR_TOKEN_EXPIRE_TIME" value="1440"/>-->

    <add key="YSP_ENABLE" value="true"/>
    <!--strong,weak,none-->
    <add key="YSP_CONTROLTYPE" value="strong"/>
    <add key="YSP_URL" value="http://172.16.11.23/api/queryFirst"/>

    <add key="Cap_Startflow_Enabled" value="true"/>

    <add key="queryTdReportUrl" value="http://172.16.11.23:80/api/queryTdReport"/>
    <add key="batchQueryCustomerPrecredit" value="http://172.16.11.23:8080/pasmdz/api/batchQueryCustomerPrecredit"/>
    <add key="queryTdScoreUrl" value="http://172.16.11.23:80/api/queryTdScore"/>

    <add key="queryNCIIC" value="http://172.16.11.23:8080/autoapproval-api/nciic/queryNCIICResult"/>
    <add key="riskEvaluation" value="http://172.16.11.23:8080/autoapproval-api/approval/riskEvaluation"/>
    <add key="queryRiskEvaluationResult" value="http://172.16.11.23:8080/autoapproval-api/risk/riskReport"/>
    <add key="queryPBOCReport" value="http://172.16.11.23:8080/autoapproval-api/pboc/queryPbocReport"/>
    <add key="queryBankCardReport" value="http://172.16.11.23:8080/autoapproval-api/risk/riskReportDetail"/>

    <!--http://172.16.11.23:8080/autoapproval-api/risk/riskReportDetail-->
    <add key="riskResult" value="http://172.16.7.56:8020/Portal/Api/RiskSysResult"/>

    <add key="apiAddMQMsg" value="http://localhost:8005/Api/CallbackQueue/AddToMsgQueue"/>
    <add key="apiUpdateApplicationNum" value="http://localhost:8005/Api/CallbackQueue/UpdateApplicationNumber"/>
    <!--正源科技-->
    <add key="ZY_ApiIp" value="193.112.33.175:9080"/>
    <add key="ZY_ProductNumber" value="CP1905130002"/>
    <add key="ZY_Api" value="http://193.112.33.175:9080/car/thridInterfaceServlet"/>
    <!--测试环境-->
    <add key="ZY_FinalAuditCallback" value="http://172.16.7.56:8020/Portal/ZhengYuan/ZyFinalAuditCallBack"/>
    <add key="ZY_FkRiskResult" value="http://172.16.7.56:8020/Portal/ZhengYuan/RiskSysResult"/>
    <add key="ZY_GiveMoneyCallback" value="http://172.16.7.56:8020/Portal/ZhengYuan/ZYGiveMoneyCallback"/>
    <add key="ZY_SftpHost" value="193.112.34.233"/>
    <add key="ZY_SftpPort" value="3322"/>
    <add key="ZY_SftpUserName" value="dongzheng"/>
    <add key="ZY_SftpPassword" value="dz@2019"/>

    <add key="FaceSignRequestUrl" value="http://114.115.182.53:8082/app-web/h3/appendDataByH3"/>
    <add key="facesignvideourl" value="http://114.115.182.53:8082/manager-web/video/getVideoUrl" />


    <add key="allocationWorkflows" value="APPLICATION;APPLICATION_ZY"/>

    <add key="SqlInject" value="1"/>
    <add key="Xss" value="1"/>
    <add key="Auth" value="1"/>

    <add key="RabbitMQHost" value="172.16.11.35"/>
    <add key="RabbitMQUser" value="guest"/>
    <add key="RabbitMQPassword" value="guest"/>

    <add key="QueryYSPResult" value="http://172.16.11.23:80/api/queryPreResult"/>
    <add key="wxapp_img_url" value="http://test-wxapp.dongzhengafc.com:9091/image/get/"/>

    <add key="Che300_IdentifyModelByVIN" value="http://testapi.che300.com/service/identifyModelByVIN"/>
    <add key="Che300_ModelValidDays" value="30"/>

    <add key="Che300_API_URL" value="http://testapi.che300.com/service/common/eval?oper=exportModel" />
    <add key="Che300_GetModelInfo" value="http://testapi.che300.com/service/getCarModelInfo"/>
    <add key="Che300_API_Token" value="d5beba2a94dd6a3706d53c43cdf8d49a" />
    <add key="Che300_API_FromVersion" value="3.4.561" />
    <add key="Che300_GetCarBrandList" value="http://testapi.che300.com/service/getCarBrandList"/>
    <add key="Che300_GetCarSeriesList" value="http://testapi.che300.com/service/getCarSeriesList"/>
    <add key="Che300_GetCarModelList" value="http://testapi.che300.com/service/getCarModelList"/>
    <add key="Che300_GetModelParas" value="http://testapi.che300.com/service/getModelParameters"/>

    <!--<add key="Che300_API_URL" value="http://api.che300.com/service/common/eval?oper=exportModel" />
    <add key="Che300_GetModelInfo" value="http://api.che300.com/service/getCarModelInfo"/>
    <add key="Che300_API_Token" value="50dfd8e2ee32f9e458544937d179df3c" />
    <add key="Che300_API_FromVersion" value="3.4.965" />
    <add key="Che300_GetCarBrandList" value="http://api.che300.com/service/getCarBrandList"/>
    <add key="Che300_GetCarSeriesList" value="http://api.che300.com/service/getCarSeriesList"/>
    <add key="Che300_GetCarModelList" value="http://api.che300.com/service/getCarModelList"/>
    <add key="Che300_GetModelParas" value="http://api.che300.com/service/getModelParameters"/>-->

    <add key ="Call_Center_Url" value="172.16.2.251"/>
    <!--192.168.17.201:9100-->
    <add key ="Call_Center_AssemblyIp" value="192.168.17.201"/>
    <add key ="Call_Center_InnerIp" value="172.16.2.251"/>

    <add key ="GF_AppFtpIp" value="172.16.11.35"/>
    <add key ="GF_AppFtpPort" value="21"/>
    <add key ="GF_AppFtpAccount" value="ftpuser"/>
    <add key ="GF_AppFtpPassword" value="dongzheng"/>

    <add key ="GF_FtpIp" value="172.16.11.37"/>
    <add key ="GF_FtpPort" value="22"/>
    <add key ="GF_FtpAccount" value="upload"/>
    <add key ="GF_FtpPassword" value="9ol.0p;/"/>
    <add key ="GF_FtpRootPath" value="upload/guangfaofbank/image"/>
    <add key ="GF_AppFileUrl" value="http://test-wxapp.dongzhengafc.com:9094/creditRecord/userdatas"/>
    <add key ="GF_ThreadCount" value="5" />
    <add key ="GF_ThreadUploadSize" value="1" />
    <add key ="enterneturl" value="http://172.16.10.80/"/>
    <add key="fendanchi" value="2343ffe7-6ab3-4808-a4d0-527c16e783af"/>
    <add key="EnableCheckCode" value="1"/>
    <add key="WaitTime" value="-1,-1,0,0,0,0,0,0"/>
    <add key="loginWaitLine" value="[-1,-1,0,0,1,5,30,120]"/>
    <add key="H3Schema" value="H3" />
    <add key="Related_Transaction_Max_Level" value="2"/>
  </appSettings>
  <location path="Ajax/VerificationCode.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CRM_To_H3_AccedeCompany">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CRM_To_H3_EarlyWarning">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CRM_To_H3_ModifyInfomationOfAccedeCompany">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CRM_To_H3_QuotaModify">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CRM_To_H3_RiskMeddle">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UpdateHistoryData">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Index">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Organization">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BPM">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BPMApi">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WorkItemSheets">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="InstanceSheets">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BizObjectSchemaProperty">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="StartInstance">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MvcDefaultSheet.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HybridApp">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Api">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UnitSync">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EventHandler">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WeChat">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DingTalk">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ReadAttachment">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="template/ddhome.html">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="m.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WorkflowDesigner">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Webservices">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Mobile">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DZBiz">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ZhengYuan">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CallCenter">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GuangFaBank">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <customErrors mode="Off"/>
    <pages validateRequest="false"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <authentication mode="Forms">
      <forms name="login" loginUrl="#/platform/login" protection="All"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="2048000" enableVersionHeader="false"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/javascript"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="1.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>